.btn-box {
  background-color: #ededed;
  width: 100%;
  height: 85vh;
}
.Bars.inplay {
  display: flex;
  padding-right: 25px;
  justify-content: space-between;
  width: 100%;
}
.inner-box {
  width: 800px;
  padding: 0px 12px;
}
.inner-btn-box button {
  width: 33.33%;
  font-weight: 700;
  font-size: 14px;
  padding: 4px 0px;
  cursor: pointer;
}

.inner-btn-box {
  width: 41%;
  border: 1px solid #3b5160;
  border-radius: 5px;
  overflow: hidden;
}
.btn-one {
  border: none;
  border-right: 1px solid #3b5160;
  color: #3b5160;
}
.btn-two {
  border: none;
  border-right: 1px solid #3b5160;
  color: #3b5160;
}
.btn-three {
  border: none;
  color: #3b5160;
}
.btn-box ul {
  margin-top: 10px;
  padding: 0px;
}
.btn-box li {
  list-style: none;
  width: 100%;
  background-image: linear-gradient(180deg, #2b4657 15%, #243a48 100%);
  margin: 12px 0px;
  font-weight: bolder;
  font-size: 16px;
  color: white;
  padding: 3px 8px;
  cursor: pointer;
}
.slip-head {
  margin: 0px;
  margin-top: -12px;
  width: 100%;
  text-align: end;
  font-weight: bold;
  font-size: 12px;
  height: 6px;
  background-color: #ced5da;
  height: 25px;
  display: flex;
}
.dropdownul .innerlink2 {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding-right: 0px;
}
.book-mark {
  width: 35px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-mark-icon {
  height: 18px;
  width: 18px;
  border: 1.5px solid #7e97a7;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-mark-icon svg {
  font-size: 12px;
  color: #7e97a7;
}

.innerlink2:hover {
  background-color: #ececec;
}
.innerlink p {
  font-weight: 500;
  color: gray;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2px;
}

.play-btn {
  height: 17px;
  width: 18px;
  background-color: #1876b2;
  border-radius: 4px;
  background-image: url(../../../public/play.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.fname {
  display: flex;
  gap: 5px;
}
.innerlink a {
  color: #1272b6;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.icon-in_play {
  margin-bottom: 2px;
  margin-right: 3px;
}
.innerlink span {
  color: #508d0e;
  font-size: 13px;
  font-weight: 700;
}
.cont p {
  font-weight: 700;
}
.onsub {
  display: none;
}
.inner-btn-box .active {
  background-image: linear-gradient(180deg, #2b4657 15%, #243a48 100%);
  height: 100%;
  border: none;
  padding: 10px 0px;
}
.inner-btn-box button {
  background-color: transparent;
  padding: 0px;
  height: 27px;
}
.inner-btn-box .active button {
  color: white;
}
.inplay-box {
  width: 50%;
}
.btn-box {
  width: 75%;
  padding-left: 10px;
  overflow-y: scroll;
}
.innerlink2 {
  justify-content: space-between;
  align-items: center;
}
.inner-box {
  width: 100%;
  margin-top: 1px;
}
.inplay-rightbar {
  background-color: #fff;
  border: 1px solid rgb(206, 206, 206);
  width: 25%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: start;
}
.inplay-outer-box {
  width: 25%;
  overflow: hidden;
  padding-right: 20px;
}
.inplay-rightbar h5 {
  width: 100%;
  background-color: #273f4e;
  color: white;
  font-size: 12px;
  padding: 7px;
  font-weight: 400;
  font-family: sans-serif;
}

.linkbox {
  width: 60%;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  padding-right: 5px;
}

.slip-head-one {
  width: 60%;
  padding-right: 4px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.slip-head-two {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 2px;
}

.link-event-box {
  width: 40%;
  gap: 2px;
  display: flex;
}

.link-event {
  width: 33.33%;
  border-right: 1px solid #eee;
  height: 41px;
  display: flex;
  padding: 2px;
  gap: 1.5px;
}

.link-event button {
  font-size: 11px;
  cursor: pointer;
}

.btn-back {
  height: 100%;
  width: 50%;
  background-color: #72bbef;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-lay {
  height: 100%;
  width: 50%;
  border: none;
  background-color: #faa9ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slip-head-two-item {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: sans-serif;
}

.item-book {
  width: 35px;
}

.slip-head-one p {
  font-weight: 400;
  font-family: sans-serif;
}

.Matched-details p {
  font-family: sans-serif;
  font-size: 12px;
  color: #777;
}

.dropdownul li {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-tabs1 .tabs-search{
  display: none;
}

.odds-section-mobile{
  display: none;
}

@media only screen and (max-width: 1000px) {
  .btn-box {
    width: 100%;
    margin-left: 0px;
  }
  .inplay-outer-box {
    display: none;
  }
  .dropdownul li {
    text-align: center;
  }

  .Bars.inplay {
    margin-top: 48px;
    padding-right: 0px;
  }
  .btn-box {
    margin-left: 0px;
    padding-left: 0px;
  }
  .inner-box {
    padding: 0px;
  }
  .mobile-tabs1 .inner-btn-box {
    width: 100%;
    margin: 4px;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid white;
    color: white;

  }

  .mobile-tabs1 .inner-btn-box a button {
    color: white;
    font-size: 3.4666666667vw;
    height: 100%;
  }
  .btn-one, .btn-two {
    border-right: 1px solid white;
  }

  .mobile-tabs1 .inner-btn-box .active button {
    color: #172832;
    background-color: white;
  }

  .mobile-tabs1 {
    display: flex;
    width: 100%;
    background-color: #172832;
    height: 42px;
  }

  .mobile-tabs1 .tabs-search {
    width: 45px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    font-size: 25px;
    color: white;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) !important;
    border-left: 1px solid rgba(255, 255, 255, .1);
  }
  .btn-box li{
    margin: 0px;
    justify-content: center;
    font-size: 3.7333333333vw;
  }
  .btn-box ul {
    margin-top: 0px;
  }
  .innerlink a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 4vw;
  }
  .innerlink{
    display: flex;
    flex-direction: column-reverse;
  }
  .innerlink p{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 4px;
    padding-left: 14px;
  }
  .innerlink span{
    font-family: sans-serif;
    font-size: 3.2vw;
    line-height: 1.1;
    color: #777;
    margin-right: 1.3333333333vw;
  }
  .book-mark-icon{
    height: auto;
    width: auto;
    padding: 2px;
  }
  .book-mark svg{
    font-size: 4vw;
  }
  .dropdownul li{
    height: auto;
    line-height: 2.2;
    font-weight: 600;
  }
  .play-btn{
    width: 4.5333333333vw;
    height: 4.5333333333vw;
  }
  .max-num{
    display: none;
  }
  .gameInfoDate-box{
    display: none !important;
  }
  .Matched-num{
    display: none;
  }

  .odds-section{
    display: none;
  }

  .odds-section-mobile{
    display: flex;
  }

.topIcon-Box{
  position: relative !important;
}
.topIcon-Box::after{
  position: absolute;
    left: 10.4vw;
    content: "";
    width: 0;
    height: 0;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 9.3333333333vw solid rgba(0, 0, 0, 0);
    border-left: 1.8666666667vw solid #e0e6e6;
}
 
}
