.Middle-wraper {
  width: 55%;
  height: 100%;
  overflow-y: scroll;
}

.Middle-wraper2::-webkit-scrollbar {
  display: none;
}
.cricket-banner {
  width: 100%;
  height: 200px;
  background-color: black;
}
.cricket-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Middle-wraper .slip-head {
  background-color: #dddcd6;
  margin-top: -25px;
}

.Highlights-Head {
  width: 100%;
  padding: 3px 2px 3px 10px;
  background-color: #ffb80c;
  font-family: sans-serif;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.Highlights-Head h4 {
  font-size: 13px;
}

.Highlights-Head p {
  font-size: 11px;
}

.select select {
  background-color: transparent;
  width: 108px;
  height: 23px;
  padding-left: 9px;
  color: inherit;
  border-radius: 4px;
}

.wrap-highlight_list {
  display: none;
}

.Middle-wraper .slider-container {
  display: none;
}

.live-video {
  width: 100%;
  height: 450px;
  background-color: rgb(0, 0, 0);
}
.marketScroll {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(153 199 241) 0%,
    rgb(138 189 216 / 50%) 49%,
    rgb(146 198 246) 100%
  );
  padding-top: 0.1rem;
  margin-bottom: 2px;
  position: relative;
}

.PokerMarket {
  padding: 10px;
}

.PokerMarket-Item {
  width: 100%;
  margin: auto;
  padding: 10px;
  box-shadow: #32325d40 0 6px 12px -2px, #0000004d 0 3px 7px -3px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.597);
  position: relative;
  margin-top: 14px;
}

.PokerMarket-Item .market-inner .market-inner-item.active .market-item div{
  background-color: transparent !important;
  color: white !important;
}

.Poker-Player {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Poker-Player button {
  font-size: 16px;
  font-weight: bolder;
  height: 60px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(-180deg, #14805e 0, #184438 100%);
}

.PokerMarket-Item .marketScroll-suspended {
  position: absolute;
  z-index: 9 !important;
  border: 2px solid red;
  border-top-left-radius: 61px;
  border-bottom-right-radius: 61px;
}

.PokerMarket-Item .marketScroll-suspended h2 {
  color: black;
}

.Poker-title {
  margin: auto;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  background-color: #fff !important;
  height: 42px;
  width: 34%;
  box-shadow: #0006 0 2px 4px, #0000004d 0 7px 13px -3px, #0003 0 -3px inset;
  color: #000;
  font-family: sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  position: relative;
}

.win-info {
  height: 22px;
  width: 22px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
}

.win-info svg {
  font-size: 22px;
}

.PokerMarket-Item .market-item div {
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  background-color: #fff !important;
  border-left-color: #fff !important;
  width: 220px !important;
  text-align: center;
  box-shadow: #0006 0 2px 4px, #0000004d 0 7px 13px -3px, #0003 0 -3px inset;
  position: relative;
  z-index: 1;
}

.PokerMarket-Item .market-item div::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 70%;
  z-index: -1;
  background-image: linear-gradient(-180deg, #14805e 0, #184438 100%);
  transform: skew(-31deg);
}

.PokerMarket-Item .market-item strong {
  font-size: 19px;
  margin-bottom: 2px;
}

.PokerMarket-Item .market-item p {
  font-size: 15px;
}

.marketScroll-suspended {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fff;
  opacity: 0.5;
}
.marketScroll-suspended h2 {
  font-weight: bolder;
  color: red;
}
.minMaxDesktop {
  width: 100%;
  padding: 3px 5px;
  background-image: linear-gradient(-180deg, #2e4b5e 0%, #243a48 82%);
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.market-inner {
  height: 100%;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: center;
}
.market-inner-item {
  width: 49%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.market-item h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 0.25rem !important;
  color: #23282c;
}

.market-inner2 .market-item strong {
  font-size: 17px;
}

.market-inner2 .market-item div {
  width: 170px !important;
  padding: 8px 0 !important;
}

.market-item div {
  width: 130px !important;
  border-radius: 5px;
  padding: 2px 0;
  box-shadow: 0 2px 7px 1px #67828be6;
  background-color: #72bbef !important;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: sans-serif;
}

.market-item strong {
  font-size: 12.5px;
  margin-bottom: 4px;
}

.market-item p {
  font-size: 10px;
}

.market-inner-item.active .market-item div {
  background-color: #1a8ee1 !important;
}

.recent-res {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 6px;
  font-family: sans-serif;
}

.recent-res h2 {
  font-size: 17px;
}

.recent-res ul {
  display: flex;
  gap: 15px;
  padding: 0px;
  margin: 0px;
}
.recent-res ul li {
  list-style: none;
}

.t-list,
.d-list {
  width: 40px;
  height: 37px;
  color: #333;
  padding: 5px;
  list-style: none;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bolder !important;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .Middle-wraper {
    width: 100%;
  }
  .Highlights-Head {
    display: none;
  }
  .slip-head {
    display: none;
  }

  .Matched-details {
    display: none;
  }
  .first-row {
    display: none !important;
  }
  .link-event {
    display: none;
  }
  .link-event-box {
    width: auto;
  }
  .linkbox {
    width: 100%;
    border-right: none;
  }
  .cricket-banner {
    display: none;
  }
  .Middle-wraper .slider-container {
    display: block;
    margin-top: 49px;
  }
  .footer-section {
    display: none;
  }
  .wrap-highlight_list h3 {
    background-image: linear-gradient(-180deg, #2e4b5e 0%, #243a48 82%);
    color: #fff;
    font-size: 11px;
    line-height: 2.2;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
}
